@import '../style/variables';
@import '../style/mixin';


.app-container{
  header{
    display: flex;
    justify-content: space-between;
    img{
      width: 70px;
      height: auto;
      object-fit: cover;
    }
    div{
      height: clamp(2rem, 10vw, 3rem);
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.3rem 0.5rem;
      background-color: $color-primary;
      i,p{
        font-size: clamp(1.5rem, 10vw, 2rem);
      }
      i{
        margin-right: 0.5rem;
      }
    }
  }
  
  > section{
    margin-top: 2rem;
    > section{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 1rem;
      margin-top: 2rem;
      article{
        @include cardProduct;
      }
    } 
  }
  > aside{
    margin-top: 2rem;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    grid-template-areas: 
    "header    header"
    "products  products-info"
    ;
    >header{
      grid-area: header;
    }
    >section{
      grid-area: products;

    }
    > aside{
      grid-area: products-info;
    }
  }
}
