@import '../style/variables';

@mixin cardProduct($color-shadow: $color-primary, $color-border: $color-gray) {
  position: relative;
  height: 100%;
  div{
    display: flex;
    position: absolute;
    width: clamp(1.5rem, 10vw, 2.5rem);
    height: clamp(1.5rem, 10vw, 2.5rem);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 0.5rem;
    top: 0.5rem;
    background-color: $color-shadow;
    font-size: 1rem;
  }
  img{
    width: 100%;
    height: 100%;
    border: $color-border 1px solid;
    cursor: pointer;
    padding: 0.5rem;
    object-fit: cover;
    &:hover{
      box-shadow: $box-shadow $color-shadow;
      border: $color-shadow 1px solid;
  
    }
  }
}
@mixin buttonAddLess {
  button{
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  > :nth-child(2){
    background-color: $color-primary;
    color: $color-white;
  }
}


@mixin contentFormPay {
    background: $color-white;
    margin-top: -1rem;
    z-index: 0;
    button{
        padding: 1rem;
        background: linear-gradient(to right, $color-secondary, $color-primary);
        color: $color-white;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        border-radius: 1rem;
        box-shadow: inset 0 0 0 rgb(0 0 0 / 1%), 0 0 0 0 rgb(255 255 255), 4px 4px 4px rgb(0 0 0 / 10%);
        :hover{
            filter:brightness(0.97);
        }
    }
}