$color-primary: '#A61ABB';
$color-secondary: '#F5C7FD';
$color-gray: '#858585';
$color-black: '#060606';
$background-primary: '#fff';
$background-secondary: '#EEEEEE';


h1{
  color: red;
  background-color: black;
}