@import '../style/variables';
@import '../style/mixin';

aside{
  > section{
    @include scrollYProducts;
    > a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 1rem;
      padding: 0.5rem;
      border-bottom: 1.5px solid $background-secondary;
      cursor: pointer;
      text-decoration: none;
      div{
        display: flex;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 50%;
        margin: 1rem;
      }
      img{
        width: clamp(80px, 20vw, 150px);
        height: auto;
      }
    }
    >div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}